<button type="button" name="button">
    <a href="/marvin_cv.pdf" download="/marvin_cv.pdf">Ver currículo</a>
</button>
<style>
    button {
        margin: 1.5em;
        border-radius: 0.5em;
        padding: 0.75em;
        border-width: 2px;
        border-color: var(--grey);
        background-color: transparent;
        color: var(--grey);
        font-weight: bolder;
        margin-top: 4em;
    }

    button:hover {
        border-color: var(--bg-color);
        background-color: var(--white);
        color: var(--bg-color);
        scale: 1.05;
    }

    iframe {
        display: none;
    }

    a {
        text-decoration: none;
        color: var(--grey);
    }

    @media screen and (min-width: 1025px) {
        button {
            margin: 10em 1.5em  ;
        }

        a {
            font-size: medium;
        }

    }
</style>