---
import { Icon } from "astro-icon/components";
---

<header>
  <a class="img-container" href="/">
    <img src="/logo.svg" />
  </a>
  <div class="txt-container">
    <Icon name="gmail" />
    <Icon name="linkedin" />
    <Icon name="github" />
  </div>
</header>
<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em;
  }

  .img-container {
    width: 100%;
  }

  img:hover {
    scale: 1.2;
  }

  .txt-container {
    display: flex;
    color: var(--grey);
    gap: 1em;
    font-size: 1.5em;
  }

  [data-icon]:hover, [data-icon]:focus {
    color: var(--white);
    scale: 1.2;
  }

</style>
