---
import { Icon } from "astro-icon/components";
---

<header>
  <a class="img-container" href="/portfolio">
    <Icon name="logo"/>
  </a>
  <div class="txt-container">
    <a href="mailto:viniciusmartins01112@gmail.com" >
      <Icon name="gmail" />
    </a>

    <a href="https://www.linkedin.com/in/vinicius-martins-947269201">
      <Icon
        name="linkedin"
      />
    </a>

    <a href="https://www.github.com/Marvinus11" >
      <Icon name="github"/>
    </a>
  </div>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em;
  }

  .img-container {
    width: 100%;
  }

  img:hover {
    scale: 1.2;
  }

  .txt-container {
    display: flex;
    gap: 1em;
    color: var(--grey);
    font-size: 1.5em;
    margin-left: 7.5em;
  }

  [data-icon] {
    color: var(--grey);
  }

  [data-icon]:hover,
  [data-icon]:focus {
    color: var(--white);
    scale: 1.2;
  }

  [data-icon = "logo"] {
  font-size: 1.5em;
  }

</style>
