<div class="container">
    <div class="titles">
      <h1>Vinícius Martins</h1>
      <h5>Desenvolvedor Web Full Stack</h5>
    </div>
    <div>
      <div class="image">
      </div>
    </div>
  </div>
  <style>
    

    .titles {
      color: var(--text-color);
      padding: 5em 0 0 0.5em;
    }
  
    h1 {
      font-family: "Tac One", sans-serif;
      width: fit-content;
      background: linear-gradient(110deg, var(--primary) 20%, var(--secundary));
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      font-weight: lighter;
      font-size: 4rem;
      margin: inherit;
      margin-bottom: -0.4em;
    }
  
    h5 {
      font-size: small;
    }
  
    .image {
      background: url(/self.png);
      background-size: contain;
      padding: 1em;
      width: 150px;
      height: 150px;
      animation: float 10s ease-in-out infinite;
      mask: url(/shape.png) center / contain no-repeat;
    }
  
    @keyframes float {
      0%,
      100% {
        transform: translate3d(0);
      }
      50% {
        transform: translate3d(1rem, 1rem, 1rem);
      }
    }
  
    @media (min-width: 37rem) {
      .container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        padding: 5em 0;
        gap: 3em;
      }
      .titles {
        grid-column: 1;
        padding-left: 2em;
      }
  
      .image {
        display: flex;
        justify-content: center;
        align-content: center;
        background: url(/self.png);
        background-size: contain;
        width: 150px;
        height: 150px;
        animation: float 10s ease-in-out infinite;
        mask: url(/shape.png) center / contain no-repeat;
        margin-top: 5em;

      }

      h1 {
        font-size: 9em;
        margin-bottom: -0.3em;
      }
  
      h5 {
        font-size: large;
      }
  
      @keyframes float {
        0%,
        100% {
          transform: translate3d(0);
        }
        50% {
          transform: translate3d(-1rem, 2rem, 1rem);
        }
      }
    }
  </style>
  