<div class="container">
  <div class="titles">
    <h1>Vinícius Martins</h1>
    <h5>Desenvolvedor Web Full Stack</h5>
  </div>
  <>
    <div class="image"/>
  </div>
</div>
<style>
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-shrink: 0;
    padding: 1.5em;
    margin-top: 1em;
    gap: 1.5em;
  }
  h1 {
    font-family: "Tac One", sans-serif;
    width: fit-content;
    -webkit-background-clip: text;
    background-clip: text;
    color: var(--white);
    font-weight: bold;
    font-size: 3.5rem;
    margin: inherit;
    margin-bottom: -0.4em;
  }

  h5 {
    color: var(--grey);
    font-size: 1em;
  }

  .image {
    background: url(/self.png);
    background-size: contain;
    padding: 1em;
    width: 150px;
    height: 150px;
    animation: float 5s ease-in-out infinite;
    mask: url(/shape.png) center / contain no-repeat;
  }

  @keyframes float {
    0%,
    100% {
      transform: translate(0);
    }
    50% {
      transform: translate(-0.2em, 1em);
    }
  }
</style>
