<div class="container">
  <h5>Projetos</h5>
  <div class="grid">
    <div class="card">
      <p>EM BREVE</p>
    </div>
    <div class="card">
      <p>EM BREVE</p>
    </div>
    <div class="card">
      <p>EM BREVE</p>
    </div>
    <div class="card">
      <p>EM BREVE</p>
    </div>
    <div class="card">
      <p>EM BREVE</p>
    </div>
    <div class="card">
      <p>EM BREVE</p>
    </div>
  </div>
</div>
<style>
  :root {
    --bg-card: #323030;
  }

  .container {
    padding: 1.5em;
  }

  h5 {
    color: var(--grey);
    font-size: 1em;
  }

  .grid {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    place-items: center;
    width: 100%;
    gap: 1em;
  }

  .card {
    display: flex;
    width: 100%;
    max-width: 180px;
    height: 7rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    background-color: var(--bg-card);
  }

  .card:hover {
    scale: 1.1;
    border: 2px white solid;
  }

  .card:hover > p {
    color: var(--white);
  }

  p {
    color: var(--grey);
  }
</style>
