---
import { Icon } from "astro-icon/components";
---

<div class="container">
  <h5>Techs</h5>
  <div class="slider">
    <div class="track">
      <div class="slide">
        <Icon name="react" />
      </div>
      <div class="slide">
        <Icon name="node" />
      </div>
      <div class="slide">
        <Icon name="js" />
      </div>
      <div class="slide">
        <Icon name="bd" />
      </div>
      <div class="slide">
        <Icon name="git" />
      </div>
      <div class="slide">
        <Icon name="bootstrap" />
      </div>
      <div class="slide">
        <Icon name="html" />
      </div>
      <div class="slide">
        <Icon name="css" />
      </div>
      <div class="slide">
        <Icon name="react" />
      </div>
      <div class="slide">
        <Icon name="node" />
      </div>
      <div class="slide">
        <Icon name="js" />
      </div>
      <div class="slide">
        <Icon name="bd" />
      </div>
      <div class="slide">
        <Icon name="git" />
      </div>
      <div class="slide">
        <Icon name="bootstrap" />
      </div>
      <div class="slide">
        <Icon name="html" />
      </div>
      <div class="slide">
        <Icon name="css" />
      </div>
    </div>
  </div>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5em;
  }

  h5 {
    color: var(--grey);
    font-size: 1em;
  }

  .slider {
    margin: auto;
    height: 50px;
    display: grid;
    width: 90%;
    place-items: center;
    overflow: hidden;
    position: relative;
    max-width: 60%;
  }

  .track {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    animation: scroll 8s linear infinite;
    width: calc(50px * 16);
  }

  [data-icon] {
    width: 100%;
    font-size: 6vmin;
  }

  [data-icon]:hover {
    scale: 1.3;
  }

  .slider::before,
  .slider::after {
    background: linear-gradient(to right, #030303 0%, #03030300 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 5%;
    z-index: 3;
  }

  .slider::before {
    left: 0;
    top: 0;
  }

  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-50px * 8));
    }
  }

  @media screen and (min-width: 426px) {
    .container {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1.5em;
    }

    h5 {
      color: var(--grey);
      font-size: 1em;
    }

    .slider {
      margin: auto;
      display: grid;
      width: 90%;
      place-items: center;
      overflow: hidden;
      position: relative;
      max-width: 70%;
    }

    .track {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4em;
      animation: scroll 15s linear infinite;
      width: calc(50px * 30);
    }

    [data-icon] {
      width: 100%;
      font-size: 6vmin;
    }

    [data-icon]:hover {
      scale: 1.3;
    }

    @keyframes scroll {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(calc(-50px * 15));
      }
    }

    .slider::before,
    .slider::after {
      background: linear-gradient(to right, #030303 0%, #03030300 100%);
      content: "";
      height: 100%;
      position: absolute;
      width: 15%;
      z-index: 3;
    }
  }
</style>
