<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Portifólio de Vinícius Martins - Desenvolvedor Web Full Stack "
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/src/icons/logo.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Tac+One&display=swap"
      rel="stylesheet"
    /><link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Tac+One&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Portifólio | Vinícius Martins</title>
  </head>

  <body>
    <div class="container">
      <slot />
    </div>
    
  </body>
</html>
<style is:global>
  :root {
        --primary: #ac04d4;
        --secundary: #0829ff;
        --bg-color: #030303;
        --grey: #7e7a7a;
        --white: #ffffff;
    }

  html {
    background: var(--bg-color);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scrollbar-width: none;
  }

  body {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
  }

  .container {
    width: 100%;
    max-width: 1024px;
  }
</style>
